<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
 </head>
<body  ng-init="currentPage=3; numPages=5; selectCount=0">
<pagination num-pages="numPages" current-page="currentPage" on-select-page="selectCount=selectCount+1"></pagination>
<div>Number of Pages: <input ng-model="numPages" type="number"></div>
<div>Current Page: <input ng-model="currentPage"  type="number"></div>
<div>Count of Page Selections: {{selectCount}}</div>
</body>
<script src="../../bower_components/angular/angular.js"></script>
<script src="../scripts/app.js"></script>
<script src="../scripts/directive.js"></script>
<script src="../scripts/controller.js"></script>
</html>