<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="../../bower_components/jquery-ui/ui/datepicker.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../scripts/app.js"></script>
    <script src="../scripts/directive.js"></script>
    <script src="../scripts/controller.js"></script>
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<div ng-init="type='success'">
    <div>{{type}}</div>
    <alert type="'info'">Look at {{type}}</alert>
</div>

<div ng-controller="AlertController" class="well">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    <button class='btn' ng-click="addAlert()">Add Alert</button>
</div>
</body>

</html>