<!DOCTYPE html>
<html lang="en" ng-app="expanderModule">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../../bower_components/angular/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/ExpanderSimple.css"/>
</head>
<div ng-controller="SomeCtrl">
    <expander class="expander" expander-title="title">{{text}}</expander>
</div>
<body>
<script src="../scripts/app.js"></script>
<script src="../scripts/directive.js"></script>
<script src="../scripts/controller.js"></script>
</body>
</html>