<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="../bower_components/angular/angular.js"></script>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <title></title>
</head>
<body>
<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">双向数据绑定</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-md-2 control-label">邮箱:</label>
              <div class="col-md-10">
                <input type="email" class="form-control" placeholder="推荐使用126邮箱" >
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">
                密码:
              </label>
              <div class="col-md-10">
                <input type="password" class="form-control" placeholder="只能是数字、字母、下划线">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
